@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #aa2478;
  --color-primary-hover: rgba(170, 36, 121, 0.200);
  --color-primary-active: rgba(170, 36, 121, 0.200);
}
:where(.css-dev-only-do-not-override-161f05s).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #aa2478 !important;
}

h5:where(.css-dev-only-do-not-override-161f05s).ant-typography, div:where(.css-dev-only-do-not-override-161f05s).ant-typography-h5, div:where(.css-dev-only-do-not-override-161f05s).ant-typography-h5>textarea, :where(.css-dev-only-do-not-override-161f05s).ant-typography h5 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.custom-tabs .ant-tabs-tab:hover {
  color: #aa2478 !important;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #aa2478 !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #aa2478 !important;
}

.ant-menu-item-selected {
  background-color: var(--color-primary-active) !important;
  color: var(--color-primary) !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: rgba(170, 36, 120, 0.2) !important;
  color: var(--color-primary) !important;
}

.ant-menu-item-active,
.ant-menu-submenu-active {
  color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary);
}

.hover\:text-primary:hover {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.hover\:bg-primary-hover:hover {
  background-color: var(--color-primary-hover);
}

:where(.css-dev-only-do-not-override-161f05s).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

:where(.css-dev-only-do-not-override-161f05s).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: rgba(170, 36, 120, 0.2) !important;
  border-color: rgba(170, 36, 120, 0.2) !important;
}

.anticon svg {
  display: inline-block;
  color: var(--color-primary) !important;
}